@page "/"


@using APIService.Models
@using APIService
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

@rendermode InteractiveServer
@attribute [Authorize]

@inject APIService apiClient
@inject NavigationManager navManager

<PageTitle>Subastas</PageTitle>

<div class="card">
    <h1>Bienvenido @Name</h1>
    <div class="card-body p-0">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de cierre</th>
                    <th>Estado</th>
                    <th>Condiciones de pago</th>
                    <th>Modo de entrega</th>
                    @*                     <th>Cantidad de productos</th> *@
                </tr>
            </thead>
            <tbody>
                @if (subastas?.Any() ?? false)
                {
                    @foreach (var subasta in subastas)
                    {
                        <tr @onclick="() => ShowProducts(subasta.IdSubasta)">
                            <td>@subasta.IdSubasta</td>
                            <td>@subasta.Descripcion</td>
                            <td>@subasta.FechaInicio</td>
                            <td>@subasta.FechaCierre</td>
                            @if (subasta.Estado is null)
                            {
                                <td>Proxima</td>
                            }
                            else if ((bool)!subasta.Estado)
                            {
                                <td>Cerrada</td>
                            }
                            else
                            {
                                <td>Abierta</td>
                            }
                            <td>
                            @foreach(var tipo in subasta.FormaDePago)
                                {
                                    <div>@tipo.ToString()</div>
                                }
                            </td>
                            <td>
                            @foreach(var tipo in subasta.ModoEntrega)
                                {
                                    <div>@tipo.ToString()</div>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="3">- No Auctions -</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private string Name = null;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<SubastaAPI>? subastas;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authenticationState = await authenticationStateTask;
        Name = authenticationState.User.Identity.Name;
        await LoadAuctions();
    }

    private async Task LoadAuctions()
    {
        subastas = await apiClient.GetAuctions();
    }

    private void ShowProducts(int auctionid)
    {
        navManager.NavigateTo($"/products/{auctionid}", true);
    }
}
