@using APIService.Models
@using APIService
@using AuctionBlazorWebApp.Models.Helper
@using AuctionBlazorWebApp.Models.ViewModels
@using AuctionBlazorWebApp.Components.Pages.Components
@using BlazorBootstrap
@inject APIService apiClient
@inject IJSRuntime JS


@if (ProductRowItem is not null)
{
    <div class="col-md-3 gap-5 mb-3 mt-3">
        <div class="col shadow-lg rounded-top-3" data-bs-toggle="modal" data-bs-target="@($"#details{ProductRowItem.IdProducto}")" style="cursor:pointer;">
            <div class="card-sl">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-end align-items-end">
                                <span class="wishlist text-light pull-right" disabled data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Cantida de ofertas">@ProductRowItem.CantidadDeOfertas</span>
                        </div>
                    </div>
                    @if (ProductRowItem.Imagen is not null)
                    {
                        <img src="@LoadImage()" class="img-fluid rounded-top-3 card-img-top img-fit" alt="Producto Image" />
                    }
                    else
                    {
                        <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="Producto Image" />
                    }
                </div>
            </div>
            <div class="card-heading bg-body-secondary">
                @ProductRowItem.Nombre
            </div>
            <div class="card-text text-body-tertiary bg-body-secondary text-truncate" style="white-space: pre-wrap;">
                <span class="d-inline-block text-truncate" style="max-height: 42px; max-width: 370px;">
                    @ProductRowItem.Descripcion
                </span>
            </div>
                <div class="card-text text-success bg-body-secondary">
                    @ProductRowItem.PrecioBase.ToString("C")
            </div>
            </div>
            <div class="rounded-bottom-3 text-end bg-body-tertiary shadow">
                @if (!HasMadeOferta && IsSubastaOpen)
                {
                    <a class="card-button text-decoration-none fw-bold" @onclick="ShowModal">Ofertar</a>
                    <OfertaModal  IsVisible="@isModalVisible" Title="@ProductRowItem.Nombre" OnSave="SaveChanges" OnClose="CloseModal" Minimun="@ProductRowItem.PrecioBase" FormasDePago="@FormasDePago" IdProducto="@ProductRowItem.IdProducto">
                    <p class="text-body-secondary">La oferta debe ser mayor a <span class="text-success">@ProductRowItem.PrecioBase.ToString("C")</span> </p>
                    </OfertaModal>
                }
                else
                {

                    <a class="card-button text-decoration-none bg-warning-subtle text-body-tertiary" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="@(@IsSubastaOpen ? "Ya has ofertado" : "No se puede ofertar en subastas proximas")">No se puede ofertar</a>

                }
            </div>
        </div>
    <ProductoModal 
        id=@($"details{ProductRowItem.IdProducto}") 
        IdProducto="@ProductRowItem.IdProducto"
        Nombre="@ProductRowItem.Nombre" 
        Descripcion="@ProductRowItem.Descripcion"
        Fecha="@ProductRowItem.FechaSolicitud.ToString()"
        Imagen="@LoadImage()"
        IdSubasta="(int)ProductRowItem.IdSubasta"
        Ofertas="ProductRowItem.CantidadDeOfertas"
        />
}



@code {
    [Parameter]
    public ProductoAPI? ProductRowItem { get; set; }
    [Parameter]
    public EventCallback UpdateProduct{ get; set; }
    [Parameter]
    public bool ShowOnly { get; set; }
    [Parameter]
    public int IdUsuario { get; set; }
    private bool isMakeOferta = false;
    private bool HasMadeOferta;
    private bool IsSubastaOpen;
    public string[]? FormasDePago;
    [Inject] protected ToastService ToastService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HasMadeOferta = await CheckOfertas();
        IsSubastaOpen = await CheckIfSubastaOpen();
        FormasDePago = await apiClient.GetFormasDePagoOfAuction((int)ProductRowItem.IdSubasta);
    }

    private string? LoadImage()//para cargar en lista
    {

        if (ProductRowItem?.Imagen != null && !string.IsNullOrEmpty(ProductRowItem.ImageExtension))
        {
            return $"data:image/{ProductRowItem.ImageExtension.Trim('.')};base64,{Convert.ToBase64String(ProductRowItem.Imagen)}";
        }
        else
        {
            return null;
        }
    }

    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void CloseModal()
    {
        isModalVisible = false;
    }

    private async Task SaveChanges(OfertaViewModel oferta)
    {
        var newOferta = new OfertaAPI
            {
                Monto = oferta.Monto,
                Fecha = DateTime.Now

            };
        await apiClient.AddOferta(newOferta, IdUsuario, ProductRowItem.IdProducto);
        HasMadeOferta = await CheckOfertas();
        IsSubastaOpen = await CheckIfSubastaOpen();
        CloseModal();
        ToastService.Notify(new(ToastType.Success, $"Exito! se realizo la oferta correctamente"));
        await UpdateProduct.InvokeAsync();
        StateHasChanged();
    }

    private async Task<bool> CheckOfertas()
    {
        return await apiClient.CheckIfOferta(ProductRowItem.IdProducto, IdUsuario);
    }

    private async Task<bool> CheckIfSubastaOpen()
    {
        return await apiClient.CheckIfSubastaOpen((int)ProductRowItem.IdSubasta);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("initializeTooltips");
    }
}
