@page "/userbiddedProducts"
@using Auction.Core.Entities
@using Microsoft.AspNetCore.Components.QuickGrid
@using APIService.Models
@using APIService
@using System.Security.Claims

@inject APIService apiClient
@inject NavigationManager navManager
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Mis ofertas</PageTitle>

<h3 class="p-2 mt-3 mx-2">Tus ofertas</h3>
<div class="container-fluid table-responsive-xxl clearfix px-1">
    @if (itemsQueryable != null)
    {
        @if (itemsQueryable.Count() != 0)
        {
            <div class="d-flex float-end mx-1">
                    <div class="dropdown mx-4 mt-1 mb-3 shadow">
                    <button class=" btn dropdown-toggle text-start text-md-start bg-body-tertiary  rounded-2 focus-ring-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-x:1rem;">
                            <i class="fa-solid fa-filter fa-2x mx-1" style="color: #FFD43B;"></i> Filtrar
                        </button>
                        <div class="dropdown-menu px-3" style="">
                            <h6 class="dropdown-header text-warning-emphasis">Filtrar productos</h6>
                            <div class="form-check">
                            <input class="form-check-input" @onchange="@(() => selectedOption = "going")" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    En subasta
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" @onchange="@(() => selectedOption = "won")" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Ganadas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" @onchange="@(() => selectedOption = "sold")" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Vendidas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" @onchange="@(() => selectedOption = "defak")" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Todos
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mt-1 mb-3">
                        <span class="input-group-text border-0 bg-body-tertiary" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <div class="form-floating">
                            <input type="search" class="form-control rounded-end-2" id="floatingInput" autofocus @bind="search" @bind:event="oninput" placeholder="Buscar..." />
                            <label for="floatingInput">Buscar</label>
                        </div>
                    </div>
            </div>
        }
    }
    @if (itemsQueryable == null)
    {
        <div class="row px-lg-5 p-5">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-info mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-light mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-dark mx-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    }
    else if (itemsQueryable.Count() != 0)
    {
        <QuickGrid Class="table table-striped table-hover mb-2 shadow border border-2"
                   Items="@Filteredproductos"
                   ItemKey="@(x=> x.IdProducto)"
                   Pagination="@pagination">
            <TemplateColumn Title="Imagen">
                <img src="@GetPreviewImage(context)" class="img-fluid rounded-3 card-img-top img-fit" style="min-height: 128px" alt="Producto Image" />
            </TemplateColumn>
            <PropertyColumn Title="NOMBRE"
                            Property="@(x=> x.Nombre)"
                            Class="text-center align-middle"
                            Sortable="true"/>
            <TemplateColumn Title="Descripcion">
                <ChildContent>
                <div class="overflow-auto" style="width:16rem; max-height:6rem;"><p class="text-body-tertiary">@context.Descripcion</p></div>
                </ChildContent>
            </TemplateColumn>
            <PropertyColumn Title="PRECIO BASE"
                            Class="text-success-emphasis text-nowrap text-center align-middle"
                            Property="@(x=> x.PrecioBase)"
                            Format="C"
                            Sortable="true" />
            <PropertyColumn Class="text-success text-nowrap text-center align-middle"
                            Title="TU OFERTA"
                            Property="@(x=> x.Monto)"
                            Format="C"
                            Sortable="true" />
            <PropertyColumn Title="FECHA DE OFERTA"
                            Class="text-center align-middle"
                            Property="@(x=> x.Fecha)"
                            Format="dd-MM-yyyy"
                            Sortable="true" />
            <PropertyColumn Title="OFERTAS"
                            Class="text-center align-middle"
                            Property="@(x=> x.TotalDeOfertas)"
                            Sortable="true" />
            <TemplateColumn Title="ESTADO"
                            Class="text-center align-middle">
                <ChildContent>
                    @if (context.Status == "sold" && context.IsGanador == true)
                    {
                        <h4><span class="p-2 badge rounded-2 border border-3 border-success text-success">Ganaste</span></h4>
                        <button class="my-1 btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal@(context.IdProducto)" >ver factura</button>
                        <!--Modal factura-->
                        <div class="modal  fade" id="exampleModal@(context.IdProducto)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <Factura IdOferta="context.TotalDeOfertas"
                                                 IdUsuario="UserId"
                                                 Monto="(decimal)context.Monto"
                                                 ProductoId="context.IdProducto"
                                                 ProductoNombre="@context.Nombre" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (context.Status == "sold")
                    {
                        <h4><span class="p-2 badge rounded-2 border border-3 border-warning text-warning-emphasis">Vendido</span></h4>
                    }
                    else if (context.Status == "ongoing")
                    {
                        <h4><span class="p-2 badge rounded-2 border border-3 border-info text-info-emphasis">En subasta</span></h4>
                    }
                    else if (context.Status == "notsold")
                    {
                        <h4><span class="p-2 badge rounded-2 border border-3 border-danger text-danger-emphasis">No se vendio</span></h4>
                    }
                    else
                    {
                        <h4><span class="p-2 badge rounded-2 border border-3 border-info text-info-emphasis">En subasta</span></h4>
                    }
                </ChildContent>
            </TemplateColumn>
            <TemplateColumn Title="ESTADO EN SUBASTA">
                <div class="text-center align-middle text-wrap">
                @if (context.Status == "sold" || context.Status == "notsold")
                {
                        <button scope="col" class="btn btn-sm btn-warning my-3 fs-5 rounded-2" @onclick="() => NavToRestult(context.IdSubasta)">Ver resultado de subasta N° <span class="text-info">@context.IdSubasta</span></button>
                }
                else
                {
                        <button class="btn btn-sm btn-warning my-3 fs-5 rounded-2" @onclick="()=> NavtoSubasta(context.IdSubasta)">Ver en subasta N° <span class="text-info">@context.IdSubasta</span></button>
                }
                </div>
            </TemplateColumn>

        </QuickGrid>
        <Paginator State="@pagination" />
    }
    else
    {
        <h1 class="text-body-tertiary text-center p-5">No has ofertado a ningun producto</h1>
    }
</div>

@code {
    List<ProductoOfertado>? products;
    PaginationState pagination = new PaginationState { ItemsPerPage = 4 };
    private int UserId;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string? search;
    private string selectedOption = "Subasta"; // Default option can be set here
    IQueryable<ProductoOfertado>? itemsQueryable;


    IQueryable<ProductoOfertado>? Filteredproductos
    {
        get
        {
            var result = itemsQueryable;

            if (!string.IsNullOrEmpty(search))
            {
                result = itemsQueryable.Where(c => c.Nombre.Contains(search, StringComparison.OrdinalIgnoreCase));
            }
            if (selectedOption != "Subasta")
            {
                switch (selectedOption)
                {
                    case "going":
                        result = itemsQueryable.Where(c => c.Status == "ongoing");
                        break;
                    case "sold":
                        result = itemsQueryable.Where(c => c.Status == "sold" && c.IsGanador == false);
                        break;
                    case "won":
                        result = itemsQueryable.Where(c => c.Status == "sold" && c.IsGanador == true);
                        break;
                    default :
                    break;


                }
            }

            return result;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authenticationState = await authenticationStateTask;
        var user = authenticationState.User;
        var userIdClaim = user.FindFirst(c => c.Type == "nameid" || c.Type == ClaimTypes.NameIdentifier);
        UserId = int.Parse(userIdClaim.Value);
        await LoadProducts();
    }

    private string? GetPreviewImage(ProductoOfertado product)//para cargar en edicion al subir imagen nueva
    {
        if (product?.Imagen != null && !string.IsNullOrEmpty(product.ImageExtension))
            return $"data:image/{product.ImageExtension.Trim('.')};base64,{Convert.ToBase64String(product.Imagen)}";
        else
            return "placeholder.jpg";
    }

    private async Task LoadProducts()
    {

        products = await apiClient.GetBiddedProducts(UserId);
        itemsQueryable = products.AsQueryable();
    }

    private void NavToRestult(int? auctionid)
    {
        navManager.NavigateTo($"/results/{auctionid}", true);
    }

    private async void NavtoSubasta(int? auctionid)
    {
        int id = auctionid ?? 1;
        var productocount = await apiClient.GetProductoCountOfAuction(id);
        navManager.NavigateTo($"/products/{auctionid}/{productocount}", true);
    }
}
